<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="title">Coral Publicity, C.A.</h3>
            <h4 class="title" style=" margin-top: -3vh;">J- 501620156</h4>
            <p class="title">©1975 - 2022, Todos los derechos reservados.</p>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a href="/signup" class="nav-link">
                  Registrese
                </a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link">
                  Inicie Sesión
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Contactanos
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="nav">
              <li class="nav-item">
                <a href="/legal" class="nav-link">
                  Aviso Legal
                </a>
              </li>
              <li class="nav-item">
                <a href="/cookies" class="nav-link">
                  Política de Cookies
                </a>
              </li>
              <li class="nav-item">
                <a href="/privacy" class="nav-link">
                  Política de Privacidad
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="title">Síguenos:</h3>
            <div class="btn-wrapper profile">
              <a target="_blank" href="https://twitter.com/CoralPublicity" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Síguenos">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.facebook.com/CoralPublicity" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="¡Dale Me gusta!">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a href="#" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Contáctanos">
                <i class="fab fa-whatsapp"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com/CoralPublicity" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="¡Observa!">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>