
  <div id="support" type="button">
    <div style="padding-left: 12px; padding-right: 5px;">
      <div class="l-support"><i style="margin-top: -25px;margin-left: -20px; position:fixed; font-size: 25px;" class="bi bi-record-fill text-success"></i>Soporte en vivo</div>
    </div>
    <span class="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
  <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
      </svg>
    </span>
  </div>

  <div id="chat-popup" class="chat-popup animate__animated animate__fadeInUp animate__faster">
            <div class="chat-up">
              <div class="income-msg">
                 <img src="/prin/img/favicon.png" class="avatar" alt="">
                 <div>
                    <div class="lt-chat-up text-white">Soporte en vivo </div>
                    <span class="span-chat-up text-white" style="padding: 10px;"><i style="margin-right: 2px;" class="bi bi-record-fill text-success"></i>Estamos en línea</span>
                 </div>
                 <div class="group-icon-chat">
                  <div class="icon-chat-area text-white">
                    <i class="bi bi-three-dots-vertical"></i>
                  </div>
                  <div class="icon-chat-area text-white" id="support-x" style="cursor: pointer;">
                    <i class="bi bi-x"></i>
                  </div>
                 </div>
                 
                 
              </div>
            </div>
            <div class="chat-area">
             <div class="income-msg">
                 <span class="msg"> ¡Bienvenido a nuestro espacio! 👋 Ya sea que tengas una pregunta específica o necesites ayuda, estamos aquí para ayudarte. 😉 ¿Qué te gustaría saber?</span>
             </div>
              <span class="msg-min">hace 52 minutos</span>
            </div>

            <div class="input-area">
                <input type="text" name="message" placeholder="Escribe tu mensaje..." class="form-control" style="font-size: 15px; color:black;">
                <div id="emoji-btn" style="cursor: pointer;"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-emoji-wink" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm1.757-.437a.5.5 0 0 1 .68.194.934.934 0 0 0 .813.493c.339 0 .645-.19.813-.493a.5.5 0 1 1 .874.486A1.934 1.934 0 0 1 10.25 7.75c-.73 0-1.356-.412-1.687-1.007a.5.5 0 0 1 .194-.68z"/>
</svg></div>
                <div class="submit" style="cursor: pointer;"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
</svg></div>
            </div>
            <div class="text-center" style="padding: 0px 5px 14px 5px;">
              <span class="span-powered">Powered by Coral Publicity, C. A.</span>
            </div>
        </div>